<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h2><%= @user.name %>様</h2>
        <%# <h2><%= user.name %><%#様</h2> %>
        <p>新規登録ありがとうございました。</p>
        <p>引き続き当サイトをお楽しみください。</p>
    </body>
</html>